### 8. conclusion analysis

#### （1）加入“教育”变量

In [288]:
df_edu=pd.read_excel(r'C:\Users\Asus\Desktop\文件夹\项目\人工智能时代媒体就业\data\Education, Training, and Experience.xlsx')
df_edu=df_edu[['O*NET-SOC Code','Title','Scale ID','Category','Data Value']]
df_edu=df_edu[df_edu['Scale ID']=='RL']
df_edu

,O*NET-SOC Code,Title,Scale ID,Category,Data Value
0,11-1011.00,Chief Executives,RL,1.0,0.00
1,11-1011.00,Chief Executives,RL,2.0,0.00
2,11-1011.00,Chief Executives,RL,3.0,0.00
3,11-1011.00,Chief Executives,RL,4.0,6.05
4,11-1011.00,Chief Executives,RL,5.0,4.23
5,11-1011.00,Chief Executives,RL,6.0,21.61
6,11-1011.00,Chief Executives,RL,7.0,13.66
7,11-1011.00,Chief Executives,RL,8.0,25.83
8,11-1011.00,Chief Executives,RL,9.0,19.23
9,11-1011.00,Chief Executives,RL,10.0,0.00
10,11-1011.00,Chief Executives,RL,11.0,9.39
11,11-1011.00,Chief Executives,RL,12.0,0.00
41,11-1011.03,Chief Sustainability Officers,RL,1.0,0.00
42,11-1011.03,Chief Sustainability Officers,RL,2.0,0.00
43,11-1011.03,Chief Sustainability Officers,RL,3.0,0.00
44,11-1011.03,Chief Sustainability Officers,RL,4.0,0.00
45,11-1011.03,Chief Sustainability Officers,RL,5.0,3.85
46,11-1011.03,Chief Sustainability Officers,RL,6.0,42.31
47,11-1011.03,Chief Sustainability Officers,RL,7.0,19.23
48,11-1011.03,Chief Sustainability Officers,RL,8.0,30.77
49,11-1011.03,Chief Sustainability Officers,RL,9.0,0.00
50,11-1011.03,Chief Sustainability Officers,RL,10.0,3.85
51,11-1011.03,Chief Sustainability Officers,RL,11.0,0.00
52,11-1011.03,Chief Sustainability Officers,RL,12.0,0.00
82,11-1021.00,General and Operations Managers,RL,1.0,0.00
83,11-1021.00,General and Operations Managers,RL,2.0,15.20
84,11-1021.00,General and Operations Managers,RL,3.0,9.00
85,11-1021.00,General and Operations Managers,RL,4.0,19.18
86,11-1021.00,General and Operations Managers,RL,5.0,8.59
87,11-1021.00,General and Operations Managers,RL,6.0,29.29
...,...,...,...,...,...
39749,53-7081.00,Refuse and Recyclable Material Collectors,RL,7.0,0.00
39750,53-7081.00,Refuse and Recyclable Material Collectors,RL,8.0,0.00
39751,53-7081.00,Refuse and Recyclable Material Collectors,RL,9.0,0.00
39752,53-7081.00,Refuse and Recyclable Material Collectors,RL,10.0,0.00
39753,53-7081.00,Refuse and Recyclable Material Collectors,RL,11.0,0.00
39754,53-7081.00,Refuse and Recyclable Material Collectors,RL,12.0,0.00
39784,53-7111.00,Mine Shuttle Car Operators,RL,1.0,18.51
39785,53-7111.00,Mine Shuttle Car Operators,RL,2.0,67.25
39786,53-7111.00,Mine Shuttle Car Operators,RL,3.0,14.24
39787,53-7111.00,Mine Shuttle Car Operators,RL,4.0,0.00
39788,53-7111.00,Mine Shuttle Car Operators,RL,5.0,0.00
39789,53-7111.00,Mine Shuttle Car Operators,RL,6.0,0.00
39790,53-7111.00,Mine Shuttle Car Operators,RL,7.0,0.00
39791,53-7111.00,Mine Shuttle Car Operators,RL,8.0,0.00
39792,53-7111.00,Mine Shuttle Car Operators,RL,9.0,0.00
39793,53-7111.00,Mine Shuttle Car Operators,RL,10.0,0.00
39794,53-7111.00,Mine Shuttle Car Operators,RL,11.0,0.00
39795,53-7111.00,Mine Shuttle Car Operators,RL,12.0,0.00
39825,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,1.0,12.01
39826,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,2.0,81.42
39827,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,3.0,3.89
39828,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,4.0,0.91
39829,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,5.0,0.00
39830,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,6.0,1.76
39831,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,7.0,0.00
39832,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,8.0,0.00
39833,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,9.0,0.00
39834,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,10.0,0.00
39835,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,11.0,0.00
39836,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,12.0,0.00

In [304]:
df_edu['edu'] = df_edu['Category']*df_edu['Data Value']

In [305]:
df_edu

,O*NET-SOC Code,Title,Scale ID,Category,Data Value,edu
0,11-1011.00,Chief Executives,RL,1.0,0.00,0.00
1,11-1011.00,Chief Executives,RL,2.0,0.00,0.00
2,11-1011.00,Chief Executives,RL,3.0,0.00,0.00
3,11-1011.00,Chief Executives,RL,4.0,6.05,24.20
4,11-1011.00,Chief Executives,RL,5.0,4.23,21.15
5,11-1011.00,Chief Executives,RL,6.0,21.61,129.66
6,11-1011.00,Chief Executives,RL,7.0,13.66,95.62
7,11-1011.00,Chief Executives,RL,8.0,25.83,206.64
8,11-1011.00,Chief Executives,RL,9.0,19.23,173.07
9,11-1011.00,Chief Executives,RL,10.0,0.00,0.00
10,11-1011.00,Chief Executives,RL,11.0,9.39,103.29
11,11-1011.00,Chief Executives,RL,12.0,0.00,0.00
41,11-1011.03,Chief Sustainability Officers,RL,1.0,0.00,0.00
42,11-1011.03,Chief Sustainability Officers,RL,2.0,0.00,0.00
43,11-1011.03,Chief Sustainability Officers,RL,3.0,0.00,0.00
44,11-1011.03,Chief Sustainability Officers,RL,4.0,0.00,0.00
45,11-1011.03,Chief Sustainability Officers,RL,5.0,3.85,19.25
46,11-1011.03,Chief Sustainability Officers,RL,6.0,42.31,253.86
47,11-1011.03,Chief Sustainability Officers,RL,7.0,19.23,134.61
48,11-1011.03,Chief Sustainability Officers,RL,8.0,30.77,246.16
49,11-1011.03,Chief Sustainability Officers,RL,9.0,0.00,0.00
50,11-1011.03,Chief Sustainability Officers,RL,10.0,3.85,38.50
51,11-1011.03,Chief Sustainability Officers,RL,11.0,0.00,0.00
52,11-1011.03,Chief Sustainability Officers,RL,12.0,0.00,0.00
82,11-1021.00,General and Operations Managers,RL,1.0,0.00,0.00
83,11-1021.00,General and Operations Managers,RL,2.0,15.20,30.40
84,11-1021.00,General and Operations Managers,RL,3.0,9.00,27.00
85,11-1021.00,General and Operations Managers,RL,4.0,19.18,76.72
86,11-1021.00,General and Operations Managers,RL,5.0,8.59,42.95
87,11-1021.00,General and Operations Managers,RL,6.0,29.29,175.74
...,...,...,...,...,...,...
39749,53-7081.00,Refuse and Recyclable Material Collectors,RL,7.0,0.00,0.00
39750,53-7081.00,Refuse and Recyclable Material Collectors,RL,8.0,0.00,0.00
39751,53-7081.00,Refuse and Recyclable Material Collectors,RL,9.0,0.00,0.00
39752,53-7081.00,Refuse and Recyclable Material Collectors,RL,10.0,0.00,0.00
39753,53-7081.00,Refuse and Recyclable Material Collectors,RL,11.0,0.00,0.00
39754,53-7081.00,Refuse and Recyclable Material Collectors,RL,12.0,0.00,0.00
39784,53-7111.00,Mine Shuttle Car Operators,RL,1.0,18.51,18.51
39785,53-7111.00,Mine Shuttle Car Operators,RL,2.0,67.25,134.50
39786,53-7111.00,Mine Shuttle Car Operators,RL,3.0,14.24,42.72
39787,53-7111.00,Mine Shuttle Car Operators,RL,4.0,0.00,0.00
39788,53-7111.00,Mine Shuttle Car Operators,RL,5.0,0.00,0.00
39789,53-7111.00,Mine Shuttle Car Operators,RL,6.0,0.00,0.00
39790,53-7111.00,Mine Shuttle Car Operators,RL,7.0,0.00,0.00
39791,53-7111.00,Mine Shuttle Car Operators,RL,8.0,0.00,0.00
39792,53-7111.00,Mine Shuttle Car Operators,RL,9.0,0.00,0.00
39793,53-7111.00,Mine Shuttle Car Operators,RL,10.0,0.00,0.00
39794,53-7111.00,Mine Shuttle Car Operators,RL,11.0,0.00,0.00
39795,53-7111.00,Mine Shuttle Car Operators,RL,12.0,0.00,0.00
39825,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,1.0,12.01,12.01
39826,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,2.0,81.42,162.84
39827,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,3.0,3.89,11.67
39828,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,4.0,0.91,3.64
39829,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,5.0,0.00,0.00
39830,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,6.0,1.76,10.56
39831,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,7.0,0.00,0.00
39832,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,8.0,0.00,0.00
39833,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,9.0,0.00,0.00
39834,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,10.0,0.00,0.00
39835,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,11.0,0.00,0.00
39836,53-7121.00,"Tank Car, Truck, and Ship Loaders",RL,12.0,0.00,0.00

In [306]:
df_edu1=df_edu.groupby('O*NET-SOC Code').sum()

In [307]:
df_edu1.reset_index(inplace=True)
df_edu1

    O*NET-SOC Code  Category  Data Value     edu
0       11-1011.00      78.0      100.00  753.63
1       11-1011.03      78.0      100.01  692.38
2       11-1021.00      78.0      100.01  491.60
3       11-2011.00      78.0      100.00  520.70
4       11-2021.00      78.0      100.00  668.05
5       11-2022.00      78.0      100.01  604.42
6       11-2031.00      78.0      100.01  610.30
7       11-3011.00      78.0      100.01  396.36
8       11-3021.00      78.0       99.99  555.03
9       11-3031.01      78.0      100.00  706.66
10      11-3031.02      78.0      100.01  544.00
11      11-3051.00      78.0      100.01  491.66
12      11-3051.01      78.0      100.00  602.99
13      11-3051.02      78.0       99.99  405.66
14      11-3051.03      78.0      100.00  497.51
15      11-3051.04      78.0      100.00  528.76
16      11-3051.06      78.0       99.99  416.53
17      11-3061.00      78.0      100.00  615.00
18      11-3071.01      78.0      100.00  437.11
19      11-3071.02      78.0      100.00  462.50
20      11-3071.03      78.0      100.00  616.69
21      11-3111.00      78.0      100.00  633.34
22      11-3121.00      78.0      100.01  630.51
23      11-3131.00      78.0       99.98  662.83
24      11-9013.01      78.0       99.99  496.00
25      11-9013.02      78.0      100.01  387.90
26      11-9013.03      78.0      100.00  442.11
27      11-9021.00      78.0      100.00  568.00
28      11-9031.00      78.0      100.00  413.92
29      11-9032.00      78.0      100.01  782.23
..             ...       ...         ...     ...
937     53-5021.01      78.0      100.01  280.96
938     53-5021.02      78.0      100.01  254.78
939     53-5021.03      78.0      100.01  381.17
940     53-5022.00      78.0      100.00  278.71
941     53-5031.00      78.0      100.00  285.59
942     53-6011.00      78.0      100.00  167.85
943     53-6021.00      78.0      100.00  165.55
944     53-6031.00      78.0      100.00  211.21
945     53-6041.00      78.0       99.99  340.11
946     53-6051.01      78.0       99.99  317.17
947     53-6051.07      78.0      100.00  238.87
948     53-6051.08      78.0       99.99  491.43
949     53-6061.00      78.0      100.01  186.27
950     53-7011.00      78.0      100.00  140.70
951     53-7021.00      78.0      100.00  252.79
952     53-7031.00      78.0      100.00  209.94
953     53-7032.00      78.0      100.00  182.54
954     53-7033.00      78.0      100.00  161.35
955     53-7041.00      78.0      100.00  213.91
956     53-7051.00      78.0      100.01  200.40
957     53-7061.00      78.0       99.99  180.34
958     53-7062.00      78.0      100.01  206.13
959     53-7063.00      78.0      100.00  190.16
960     53-7064.00      78.0      100.00  209.13
961     53-7071.00      78.0      100.00  274.24
962     53-7072.00      78.0      100.01  232.47
963     53-7073.00      78.0      100.00  231.78
964     53-7081.00      78.0      100.01  180.03
965     53-7111.00      78.0      100.00  195.73
966     53-7121.00      78.0       99.99  200.72

[967 rows x 4 columns]

In [13]:
len(df_edu1)

967

In [384]:
df_4=df_all_6.merge(df_edu1,how='left',on='O*NET-SOC Code')
df_4=df_4[df_4['salary_all']!='*']
df_4.reset_index(drop=True, inplace=True)
len(df_4)

936

In [385]:
# df_4.to_excel(r'C:\Users\Asus\Desktop\文件夹\项目\人工智能时代媒体就业\17\936种加教育回归分析变量.xlsx',index=True,header=True)

#### （1）全部职业

In [19]:
import pandas as pd
df_var=pd.read_excel(r'C:\Users\Asus\Desktop\文件夹\项目\人工智能时代媒体就业\17\936种加教育回归分析变量.xlsx')
df_var.head()

,O*NET-SOC Code,onet_all,cog_all,rca_all,data_value_all,pro_all,emp_all,salary_all,category,Title,Category,Data Value,edu
0,11-1011.00,73.1550,0.859511,143.759360,452.62,0.113298,195530,200140,11,Chief Executives,78,100.00,753.63
1,11-1011.03,68.9650,0.843870,147.661103,435.86,0.345718,195530,200140,11,Chief Sustainability Officers,78,100.01,692.38
2,11-1021.00,73.3300,0.781331,154.867446,453.32,0.352906,2289770,123880,11,General and Operations Managers,78,100.01,491.60
3,11-2011.00,63.2475,0.836911,146.851372,412.99,0.233764,25260,133090,11,Advertising and Promotions Managers,78,100.00,520.70
4,11-2021.00,65.7725,0.847923,144.639335,423.09,0.229822,240440,147240,11,Marketing Managers,78,100.00,668.05

In [2]:
import math
import statsmodels.formula.api as smf
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [21]:
X=df_var[['edu','cog_all','pro_all','onet_all']]
Y=df_var['salary_all']
Y1=Y.apply(lambda x: math.log(x))
df_var['salary_log']=Y1
est = smf.ols(formula='salary_log ~edu + cog_all + pro_all+onet_all',data=df_var).fit() 
y_pred = est.predict(X)
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             salary_log   R-squared:                       0.650
Model:                            OLS   Adj. R-squared:                  0.648
Method:                 Least Squares   F-statistic:                     431.9
Date:                Sat, 12 Sep 2020   Prob (F-statistic):          2.18e-210
Time:                        15:53:10   Log-Likelihood:                -157.57
No. Observations:                 936   AIC:                             325.1
Df Residuals:                     931   BIC:                             349.4
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.3635      0.206     40.632      0.000       7.960       8.767
edu            0.0011   5.79e-05     19.584      0.000       0.001       0.001
cog_all        0.8677      0.175      4.945      0.000       0.523       1.212
pro_all        0.2736      0.071      3.843      0.000       0.134       0.413
onet_all       0.0203      0.002     12.884      0.000       0.017       0.023
==============================================================================
Omnibus:                        8.236   Durbin-Watson:                   0.913
Prob(Omnibus):                  0.016   Jarque-Bera (JB):                7.578
Skew:                           0.172   Prob(JB):                       0.0226
Kurtosis:                       2.724   Cond. No.                     1.50e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.5e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### （2）文科类职业

In [22]:
df_emp=df_var
df_emp.head()

,O*NET-SOC Code,onet_all,cog_all,rca_all,data_value_all,pro_all,emp_all,salary_all,category,Title,Category,Data Value,edu,salary_log
0,11-1011.00,73.1550,0.859511,143.759360,452.62,0.113298,195530,200140,11,Chief Executives,78,100.00,753.63,12.206772
1,11-1011.03,68.9650,0.843870,147.661103,435.86,0.345718,195530,200140,11,Chief Sustainability Officers,78,100.01,692.38,12.206772
2,11-1021.00,73.3300,0.781331,154.867446,453.32,0.352906,2289770,123880,11,General and Operations Managers,78,100.01,491.60,11.727069
3,11-2011.00,63.2475,0.836911,146.851372,412.99,0.233764,25260,133090,11,Advertising and Promotions Managers,78,100.00,520.70,11.798781
4,11-2021.00,65.7725,0.847923,144.639335,423.09,0.229822,240440,147240,11,Marketing Managers,78,100.00,668.05,11.899819

In [23]:
df_emp['category2']=[i[:4] for i in df_emp['O*NET-SOC Code']]

In [24]:
df_emp_1=df_emp[df_emp['category']==11]
df_emp_2=df_emp[df_emp['category']==13]
df_emp_3=df_emp[df_emp['category']==21]
df_emp_4=df_emp[df_emp['category']==23]
df_emp_5=df_emp[df_emp['category']==25]
df_emp_6=df_emp[df_emp['category']==27]
df_emp_7=df_emp[df_emp['category']==31]
df_emp_8=df_emp[df_emp['category']==35]
df_emp_9=df_emp[df_emp['category']==39]
df_emp_10=df_emp[df_emp['category']==41]
df_emp_11=df_emp[df_emp['category']==43]

In [25]:
df_emp_some=pd.concat([df_emp_1,df_emp_2,df_emp_3,df_emp_4,df_emp_5,df_emp_6,df_emp_7,df_emp_8,df_emp_9,df_emp_10,df_emp_11], axis=0)

In [26]:
len(df_emp_some)

371

In [434]:
# df_emp_some.to_excel(r'C:\Users\Asus\Desktop\文件夹\项目\人工智能时代媒体就业\17\371种文科职业回归分析变量.xlsx',index=True,header=True)

In [27]:
df_emp_some[:2]

,O*NET-SOC Code,onet_all,cog_all,rca_all,data_value_all,pro_all,emp_all,salary_all,category,Title,Category,Data Value,edu,salary_log,category2
0,11-1011.00,73.155,0.859511,143.759360,452.62,0.113298,195530,200140,11,Chief Executives,78,100.00,753.63,12.206772,11-1
1,11-1011.03,68.965,0.843870,147.661103,435.86,0.345718,195530,200140,11,Chief Sustainability Officers,78,100.01,692.38,12.206772,11-1

In [29]:
X_=df_emp_some[['edu','cog_all','pro_all']]
Y_=df_emp_some['salary_all'].apply(lambda x: math.log(x))
df_emp_some['salary_log']=Y_
est = smf.ols(formula='salary_log ~edu+cog_all+pro_all',data=df_emp_some).fit() #方法二
y_pred = est.predict(X_)
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             salary_log   R-squared:                       0.534
Model:                            OLS   Adj. R-squared:                  0.530
Method:                 Least Squares   F-statistic:                     140.0
Date:                Sat, 12 Sep 2020   Prob (F-statistic):           1.79e-60
Time:                        15:58:23   Log-Likelihood:                -127.30
No. Observations:                 371   AIC:                             262.6
Df Residuals:                     367   BIC:                             278.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.8907      0.286     31.137      0.000       8.329       9.452
edu            0.0009      0.000      8.559      0.000       0.001       0.001
cog_all        2.2992      0.406      5.667      0.000       1.501       3.097
pro_all       -0.4212      0.091     -4.606      0.000      -0.601      -0.241
==============================================================================
Omnibus:                       13.556   Durbin-Watson:                   0.699
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               12.173
Skew:                           0.380   Prob(JB):                      0.00227
Kurtosis:                       2.541   Cond. No.                     1.55e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.55e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

#### 设置所有职业哑变量

In [14]:
dummy_ranks = pd.get_dummies(df_var['category'],prefix='job')

In [15]:
dummy_ranks['job_27']=1
dummy_ranks['job_11']=0
dummy_ranks.head()

,job_11,job_13,job_15,job_17,job_19,job_21,job_23,job_25,job_27,job_29,...,job_35,job_37,job_39,job_41,job_43,job_45,job_47,job_49,job_51,job_53
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
clos_to_keep=['edu','cog_all','pro_all','onet_all','salary_all']

In [175]:
data_1=data.drop(columns=['job_27'],axis=1)

In [176]:
data_1['intercept']=1.0

In [177]:
data_1.head()

,edu,cog_all,pro_all,salary_all,job_11,job_13,job_15,job_17,job_19,job_21,...,job_37,job_39,job_41,job_43,job_45,job_47,job_49,job_51,job_53,intercept
0,753.63,0.859511,0.113298,200140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,692.38,0.843870,0.345718,200140,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
2,491.60,0.781331,0.352906,123880,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3,520.70,0.836911,0.233764,133090,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
4,668.05,0.847923,0.229822,147240,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0

In [178]:
train_cols1=data_1.columns[:4]
train_cols2=data_1.columns[5:]
X=data_1[['edu','cog_all','pro_all','job_11','job_13','job_15', 'job_17', 'job_19', 'job_21', 'job_23','job_25', 'job_29', 'job_31', 'job_33', 'job_35', 'job_37', 'job_39','job_41', 'job_43', 'job_45', 'job_47', 'job_49', 'job_51', 'job_53']]
Y=data_1['salary_all'].apply(lambda x: math.log(x))
data_1['salary_log']=Y
reg= smf.ols(formula='salary_log ~edu+cog_all+pro_all+job_11+job_13+job_15+job_17+job_19+job_21+job_23+job_25+job_29+job_31+job_33+job_35+job_37+job_39+job_41+job_43+job_45+job_47+job_49+job_51+job_53',data=data_1).fit()
y_pred = reg.predict(X)
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             salary_log   R-squared:                       0.755
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     121.9
Date:                Tue, 23 Jun 2020   Prob (F-statistic):          2.52e-259
Time:                        13:36:49   Log-Likelihood:                 8.8035
No. Observations:                 936   AIC:                             30.39
Df Residuals:                     912   BIC:                             146.6
Df Model:                          23
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.5294      0.156     67.664      0.000      10.224      10.835
edu            0.0014   6.69e-05     21.242      0.000       0.001       0.002
cog_all        0.2145      0.210      1.022      0.307      -0.198       0.627
pro_all       -0.2877      0.057     -5.061      0.000      -0.399      -0.176
job_11       1.55e-15   1.06e-16     14.627      0.000    1.34e-15    1.76e-15
job_13        -0.1245      0.045     -2.750      0.006      -0.213      -0.036
job_15         0.0116      0.052      0.224      0.823      -0.090       0.113
job_17        -0.0876      0.041     -2.145      0.032      -0.168      -0.007
job_19        -0.4275      0.044     -9.671      0.000      -0.514      -0.341
job_21        -0.7714      0.075    -10.295      0.000      -0.918      -0.624
job_23        -0.2518      0.091     -2.754      0.006      -0.431      -0.072
job_25        -0.6069      0.045    -13.597      0.000      -0.695      -0.519
job_29        -0.3070      0.042     -7.309      0.000      -0.389      -0.225
job_31        -0.5577      0.064     -8.721      0.000      -0.683      -0.432
job_33        -0.1103      0.053     -2.064      0.039      -0.215      -0.005
job_35        -0.6230      0.067     -9.307      0.000      -0.754      -0.492
job_37        -0.3615      0.093     -3.893      0.000      -0.544      -0.179
job_39        -0.6210      0.054    -11.488      0.000      -0.727      -0.515
job_41        -0.1740      0.057     -3.034      0.002      -0.286      -0.061
job_43        -0.3715      0.045     -8.215      0.000      -0.460      -0.283
job_45        -0.2988      0.073     -4.075      0.000      -0.443      -0.155
job_47        -0.0306      0.051     -0.605      0.545      -0.130       0.069
job_49        -0.1366      0.051     -2.690      0.007      -0.236      -0.037
job_51        -0.2079      0.046     -4.484      0.000      -0.299      -0.117
job_53        -0.0168      0.051     -0.326      0.744      -0.118       0.084
==============================================================================
Omnibus:                        9.392   Durbin-Watson:                   1.211
Prob(Omnibus):                  0.009   Jarque-Bera (JB):               11.270
Skew:                          -0.144   Prob(JB):                      0.00357
Kurtosis:                       3.454   Cond. No.                     3.60e+20
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.08e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""